{{ define "main" }}
<div class="container my-4">
    <h1 class="mb-4">{{ .Title }}</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {{ range .Data.Terms.Alphabetical }}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ .Page.RelPermalink }}" class="text-decoration-none">
                            {{ .Page.Title }} ({{ .Count }})
                        </a>
                    </h5>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
